@import "../../StylesCommon/StyleAuth";
@import "../../StylesCommon/StyleCommon";


.login{
  @include cardsForAuth();

  .title{
    @include h1();
  }

  .titleName{
    padding-top:3%;
    @include h2();
  }

  .form{
    @include formContainerAuth();
    margin-top: 10%;
    height: 30%;

    .field{
      @media screen and (min-width: 750px) and (max-width: 850px){
        padding: 0 15px 0 15px;
      }

      .input{
        @include inputsAuth();
      }
    }

    .forgot{
      margin-top: 5%;
      cursor: pointer;
      text-align: right;
    }

    .buttons{
      @include buttonsContainerAuth();

      .btnLogin {
        @include Button();
      }
    }

    .signUp{
      @include displayFlex(column,"",center);

      span{
        @include h6();
        font-size: 0.95rem;
        line-height: 1.453rem;

      }

      a{
        @include h5();
        text-decoration: none;
        font-size: 1.23rem;
        line-height: 1.94rem;
        color:$ColorPrimary;

      }
    }
  }
}