@import "../../StylesCommon/StyleAuth";
@import "../../StylesCommon/StyleCommon";

.newPasswordMain {
  @include cardsForAuth();

  .title{
    @include h1();
  }

  .titleName{
    padding-top:3%;
    @include h2();
    @media screen and (min-width: 1200px){
      font-size: 1.9rem;
      line-height: 2.5rem;
    }
  }

  .form{
    @include formContainerAuth();

    .buttons{
      @include buttonsContainerAuth();

      .btnSetPass {
        @include Button();
        @media screen and (min-width: 1300px){
          width: 70%;
        }
      }
    }
  }
}

