@import "../../stylesCommon/StyleAuth";
@import "./src/stylesCommon/StyleCommon";
@import "./src/stylesCommon/StyleMain";

.container {
  @include Container();

  .slider {
   @include Slider();

    .sliderHeader {
      @include SliderHeader();
      @include displayFlex(column, space-around, center);

      .avatarProfile{
        @include displayFlex(row,center,center);
        width: 100%;
        @include avatar();
        .boxAvatar{
          margin-top: 5px;
          width: 140px;
          height: 140px;
        }
      }

      .name {
        @media screen and (min-width: 1150px){
          @include h5();
          margin-bottom: 0;
        }
        @media screen and (min-width: 1000px) and (max-width: 1149px){
          @include h6();
          color: #212020;
        }
        @media screen and (min-height: 560px) and (max-height: 700px) {
          @include h6();
          color: #212020;
        }
      }

      .status {
        @include h6();
        text-align: center;
        margin-bottom: 0;
        @media screen and (max-width: 1000px) {
          @include h6();
          font-size: 1.0rem;
          line-height: 1.857rem;
          color: #6b6b6b;
          margin-top: 0;
          margin-bottom: .5rem;
          font-weight: 400;
        }
        @media screen and (min-height: 560px) and (max-height: 700px) {
          @include h6();
          font-size: 1.0rem;
          line-height: 1.857rem;
          color: #6b6b6b;
          margin-top: 0;
          margin-bottom: .5rem;
          font-weight: 400;
        }
      }

      .button {
        @include buttonsContainerAuth();

        .btnEdit {
          @include MainButton();
        }
      }
    }

    .packs {
      @include displayFlex(column, "", center);

      .title {
        @include h2();
        margin: 10px 0 10px 0;
      }

      .packTable {
        width: 90%;
        height: 75%;
        background: #5d0505;
        margin: 10px 0 10px 0;
      }
    }
  }
}


