$ColorWhite: #fff;
$ColorBack: #f1dfcc;
$ColorBlack: #090808;
$ColorPrimary: #0d6efd;

@mixin displayFlex($direction,$just,$align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $align;
}

@mixin h1 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 10px;
  color: $ColorBlack;
  text-transform: uppercase;

  @media screen and (min-width: 600px) and (max-width: 1000px) {
    font-size: 2.1rem;
    line-height: 2.7rem;
    letter-spacing: 15px;
  }

  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    font-size: 2.4rem;
    line-height: 3.1rem;
    letter-spacing: 17px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 2.6rem;
    line-height: 3.4rem;
    letter-spacing: 20px;
  }
}

@mixin h2 {
  font-weight: 700;
  position: relative;
  font-size: 1.3rem;
  color: $ColorBlack;
  margin-top: 0;

  @media screen and (min-width: 600px) and (max-width: 1000px) {
    font-size: 1.53rem;
    line-height: 2.06rem;
  }

  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    font-size: 1.9rem;
    line-height: 2.36rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 2.2rem;
    line-height: 2.66rem;
  }
}

@mixin h3 {
  font-weight: 600;
  margin-top: -8px;
  font-size: 2rem;
  line-height: 2.7rem;
  margin-bottom: .5rem;
  color: $ColorBlack;
}

@mixin h4 {
  font-weight: 700;
  font-size: 1.71rem;
  line-height: 2.43rem;
  color: $ColorBlack;
  margin-top: 0;
  margin-bottom: .5rem;
}

@mixin h5 {
  font-weight: 600;
  position: relative;
  margin-bottom: 15px;
  font-size: 1.43rem;
  line-height: 2.14rem;
  color: $ColorBlack;
  margin-top: 0;
}

@mixin h6 {
  font-size: 1.14rem;
  line-height: 1.857rem;
  color: #7a7979;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;

  @media only screen and (max-width: 500px) {
    font-size: 0.91rem;
    line-height: 1.4rem;
  }
}

@mixin checkMailLogo {
  width: 120px;
  border-radius: 50%;
}

@mixin Close {
  display: block;
  position: absolute;
  right: 35px;
  top: 17px;
  width: 10px;
  height: 10px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

@mixin avatar {
  .boxAvatar {
    width: 203px;
    height: 203px;
    border: 3px solid #7e7edc;
    margin-top: 30px;
    display: block;
    border-radius: 50%;

    .avatar {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@mixin titlePage{
  @include h2();
  margin: 10px 0 10px 0;
}

@mixin Button {
  width: 120px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: $ColorWhite;
  background-color: #0047af;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #2e68e5;
    box-shadow: 0 15px 20px rgba(46, 110, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  &:active{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
  }

  @media screen and (min-width: 1000px) and (max-width: 1300px) {
    width: 120px;
    height: 40px;
    letter-spacing: 1.5px;
    font-size: 12px;
  }

  @media screen and (min-width: 1300px){
    width: 40%;
    height: 45px;
    letter-spacing: 2.1px;
    font-size: 13px;
  }
}

@mixin buttonsContainerAuth{
  margin-top:5%;
  margin-bottom: 3%;
  width: 100%;
  @include displayFlex(row,space-around,"");

  @media screen and (min-width: 420px) and (max-width: 1200px){
    margin-bottom: 5%;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 4%;
  }
}

@mixin headerForPages{
  @include displayFlex(column, "", center);

  .title {
    @include titlePage();
  }

  .headerTable {
    @include displayFlex(row, space-between, center);

    .addButton {
      display: inline-block;
      @include buttonsContainerAuth();

      .btn{
        @include Button();
        min-width: 200px;
      }
    }
  }

  .packTable {
    width: 90%;
    height: 75%;
    margin: 10px 0 10px 0;
  }
}