@import '../../../../stylesCommon/StyleCommon';
@import '../../../../stylesCommon/StyleAuth';


.header {
  @include displayFlex(row, space-between, '');
}

.title {
  @include h5();
  padding: 0 5px 0 5px;
}


.buttons {
  @include buttonsContainerAuth();

  .btnCancel {
    @include Button();
    background: #afb0c3;
    border-radius: 30px;
  }

  .btnSave {
    @include Button();
    border-radius: 30px;
  }

  .btnDisabled {
    @include Button();
    opacity: .5;
  }
}

.close {
  @include Close();
}