@import "../../stylesCommon/StyleAuth";
@import "./src/stylesCommon/StyleCommon";
@import "./src/stylesCommon/StyleMain";

.container {
  @include Container();

  .slider {
    @include Slider();

    .sliderHeader {
      @include SliderHeader();

      .title {
        @include h5();
        text-align: center;
        margin: 5px 0 5px 0;
      }

      .buttons {
        @include buttonsContainerAuth();
        margin: 0 auto;

        .btnMy {
          @include MainButton();
        }

        .btnAll {
          @include MainButton();
        }
      }
    }

    .numberCards {
      @include NumberCards();
    }
  }

  .packs {
    @include displayFlex(column, "", center);

    .mainTitle {
      @include h2();
      margin: 10px 0 10px 0;
    }

    .search {
      @include displayFlex(row, "", center);
      .addButton {
        display: inline-block;
        @include buttonsContainerAuth();

        .btnAdd{
          @include Button();
          min-width: 200px;
        }
      }
    }

    .packTable {
      width: 90%;
      height: 75%;
      margin: 10px 0 10px 0;
    }
  }
}

