@import "../../stylesCommon/StyleAuth";
@import "./src/stylesCommon/StyleCommon";
@import "./src/stylesCommon/StyleMain";

.container {
  @include Container();

  .slider {
    @include Slider();

    .sliderHeader {
      @include SliderHeader();

      .title {
        @include h5();
        text-align: center;
        margin: 5px 0 5px 0;
      }

      .buttons {
        @include buttonsContainerAuth();
        margin: 40px auto;

        .btnActive {
          @include MainButtonActive();
        }

        .btnInactive {
          @include MainButton();
        }
      }
    }

    .numberCards {
      @include NumberCards();
    }
  }

  .packs {
    @include headerForPages();
  }
}

