@import '../../../../stylesCommon/StyleCommon';
@import '../../../../stylesCommon/StyleAuth';

.title {
  @include h5();
  padding: 0 5px 0 5px;
}

.infoMessage {
  @include h6();
  padding: 0 5px 0 5px;
}

.buttons {
  @include buttonsContainerAuth();

  .btnCancel {
    @include Button();
    background: #afb0c3;
    border-radius: 30px;
  }

  .btnDelete {
    @include Button();
    background: #F1453D;
    box-shadow: 0 4px 18px rgba(241, 69, 61, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
  }
}