@import "../../StylesCommon/StyleAuth";
@import "../../StylesCommon/StyleCommon";

.recoveryPassword {
  @include cardsForAuth();

  .title {
    @include h1()
  }

  .titleName {
    padding-top: 3%;
    @include h5();
  }

  .subtitle {
    @include h6();
  }

  form {
    @include formContainerAuth();
    margin-top: 0%;

    .field {
      @media screen and (min-width: 750px) and (max-width: 850px) {
        padding: 0 15px 0 15px;
      }

      .input {
        @include inputsAuth();
      }
    }

    .buttons {
      @include buttonsContainerAuth();

      .btnSend {
        @include Button();
        @media screen and (min-width: 320px) and (max-width: 1000px){
          width: 140px;
        }
      }
    }

    .signUp {
      @include displayFlex(column, "", center);

      span {
        @include h6();
        font-size: 0.95rem;
        line-height: 1.453rem;

      }

      a {
        @include h5();
        text-decoration: none;
        font-size: 1.23rem;
        line-height: 1.94rem;
        color: $ColorPrimary;

      }
    }
  }
}